<!DOCTYPE html>
<html>
  <head>
    <title>My job lot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="nav">
      <nav id="navigationBar">
        <div id="navbarLogo" >
          <h1>NAV BAR</h1>
        </div>
        <ul id="navLinks">
          <li>
            <a href="<%= root_path %>" id="companies">Companies</a>
          </li>
          <li>
            <a href="" id="applications">My applications</a>
          </li>
          <li>
            <a href="#" id="profile">profile</a>
          </li>
        </ul>
      </nav>
    </div>
    <%= yield %>

  </body>
</html>
